.product_details{
    padding: 2em;
}

.product_details h1,
.product_details h2,
.product_details p{
    margin-bottom: 0.5em;
}

.product_details h1 {
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
    border-radius: 3px;
}

.product_details span{
    font-weight: bold;
}

.details_container{
   border-bottom: 1px solid #d8940b;
   margin-bottom: 1.2em;
   padding-bottom: 1.2em;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.product_info{
    width: 100%;
}

.spanDestaques{
 background: transparent;
 color: #fff;
}

.spanDestaque{
    color: #fff;
}