.btn{
 background-color: #000000;
 color: #ffffff;
 padding: 0.5em 1em;
 text-decoration: none;
 transition: 0.5s;
 border-radius: 8px;
 border: 2px solid #6fce38;
 cursor: pointer;
}

.btn:hover{
 color: #6fce38;
}