.container{
 width: 1200px;
 min-height: 75vh;
 display: flex;
 justify-content: space-between;
}

.start{
 justify-content: flex-start;
 flex-wrap: wrap;
 gap: 18px;
}

.column {
 flex-direction: column;
 justify-content: center;
 border-top: 1px solid rgba(65, 161, 82, 1);
 border-bottom: 1px solid rgba(65, 161, 82, 1);
}

.space{
 gap: 160px;
}

@media screen and (max-width: 1380px){
.container{
 width: 1000px;
}
}

@media screen and (max-width: 1200px){
.start{
 gap: 15px;
}
}

@media screen and (max-width: 1170px){
.container{
 width: 800px;
}
}

@media screen and (max-width: 950px){
.container{
 width: 650px;
}
}

@media screen and (max-width: 780px){
.container{
 width: 450px;
}
}

@media screen and (max-width: 590px){
.container{
 width: 350px;
}
}

@media screen and (max-width: 500px){
.container{
 width: 100%;
}

.start{
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
}

@media screen and (max-width: 440px){
.container{
 justify-content: center;
}

.container{
 width: 100%;
}

}

@media screen and (max-width: 400px){
.container{
 width: 100%;
}
}

@media screen and (max-width: 350px){
.container{
 width: 100%;
}
}

@media screen and (max-width: 315px){
.container{
 width: 100%;
}
}