.btn{
background-color: #000000;
color: #ffffff;
padding: 0.5em 1em;
text-decoration: none;
transition: 0.5s;
border-radius: 3px;
border: 1px solid #d8940b;
}

.btn:hover{
color: #d8940b;
}

@media screen and (max-width: 750px){
 .btn{   
    width: 120px;
    font-size: 14px;
 }
}