.btn{
 background-color: rgba(65, 161, 82, 1);
 color: #ffffff;
 padding: 0.7em;
 text-decoration: none;
 transition: 0.8s;
 border-radius: 8px;
 border: 2px solid rgb(0, 0, 0);
 font-weight: 700;
 cursor: pointer;
 height: 45px;
 font-size: 14.5px;
 width: 125px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.btn:hover{
   background-color:  rgb(39, 112, 53);
}

@media screen and (max-width: 750px){
 .btn{   
    width: 120px;
    font-size: 14px;
 }
}