.newproject_container{
    width: 450px;
    margin: 0 auto;
    padding: 3em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newproject_container h1{
    margin-bottom: 0.5em;
}

.newproject_container p {
    color: #4b4b4b;
}
