.newproject_container{
    width: 450px;
    margin: 0 auto;
    padding: 3em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newproject_container h1{
    margin-bottom: 0.5em;
}

.newproject_container p {
    color: #4b4b4b;
}

@media screen and (max-width: 500px){
h1{
    background-color: #fff;
    width: 260px;
    padding: 12px;
    border-radius: 8px;
}
.span_produto{
    color: rgba(65, 161, 82, 1);
}
}

@media screen and (max-width: 470px){
   .newproject_container{
    width: 400px;
   }
}

@media screen and (max-width: 420px){
.newproject_container{
 width: 300px;
}

h1{
 width: 200px;
 font-size: 25px;
}
}