.form {
    width: 100%;
    margin: 2em 0;
}

.macro{
    margin-top: 10px;
}

.desc_area{
    display: flex;
    flex-direction: column;
    gap: 10px;;
}

textarea{
    border: none;
}

label{
    font-weight: bold;
}


