.product_card {
 padding: 1em;
 border-radius: 5px;
 width: 25%;
 height: 20%;
 margin: 0.5%;
 transition: 0.5s;
 border: 2px solid #000;
 background-color: #fff;
 transition: transform 0.3s ease-in-out;
}

.product_card:hover {
  border: 2px solid rgba(65, 161, 82, 1);
  box-shadow: rgba(65, 161, 82, 1) 0px 1px 8px;
  transform: scale(1.1);
}

.product_card h4{
 background-color: rgba(65, 161, 82, 1);
 color: #ffffff;
 padding: .4em;
 margin-bottom: 1.3em;
 font-size: 1.3em;
 border-radius: 3px;
}

.product_card p {
 color: rgb(0, 0, 0);
 margin-bottom: 1em;
}

.product_card p span{
 font-weight: bold;
}

.product_card_actions{
 margin-top: 1.2em;
 display: flex;
 justify-content: center;
 align-items: center;
}

.product_card_actions a,
.product_card_actions button{
 text-decoration: none;
 border: none;
 background-color: #ffffff;
 color: #222;
 font-weight: bold;
 font-size: .9em;
 padding: .6em 1em;
 cursor: pointer;
 margin-right: 1em;
 border: 2px solid rgba(65, 161, 82, 1);
 display: flex;
 align-items: center;
 justify-content: center;
 transition: 0.5s;
 border-radius: 4px;
}

.product_card_actions svg{
 margin-right: .5em;
}

.product_card_actions a:hover,
.product_card_actions button:hover
{
 background-color: rgba(65, 161, 82, 1);
 color: #ffffff;
}

.color_yellow{
 color: #d39210;
}

@media screen and (max-width: 1200px){
.product_card {
 width: 30%;
}
}

@media screen and (max-width: 950px){
.product_card {
 width: 36%;
}
}

@media screen and (max-width: 780px){
.product_card {
 width: 46%;
}
.product_card_actions a,
.product_card_actions button{
 padding: .6em 1em;
 font-size: .8em;
}
.product_card_actions{
  margin-left: -8px;
}
}

@media screen and (max-width: 590px){
.product_card_actions a,
.product_card_actions button{
 padding: .6em 1em;
 font-size: .6em;
}
}

@media screen and (max-width: 500px){
.product_card {
 width: 60%;
 margin-bottom: 40px;
}

.product_card_actions a,
.product_card_actions button{
 padding: .6em 1em;
 font-size: .7em;
}

}

@media screen and (max-width: 400px){
.product_card {
 width: 70%;
}

.product_card_actions{
 margin-left: 0px;
}

}

@media screen and (max-width: 350px){
.product_card {
 width: 80%;
}

.product_card_actions{
  margin-left: -3px;
}

}

@media screen and (max-width: 315px){
.product_card_actions{
  margin-left: -8px;
}

}